# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environnements virtuels
.venv/
venv/
env/

# Tests / outils
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editeurs / OS
.vscode/
.idea/
.DS_Store

# Logs et sorties locales
*.log
